<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says... </h1>

        <div>
            Hey there my friend! <br/>
        </div>

        <div>
            {% if categories %}
            <ul>
                {% for category in categories %}
                <li>{{category.name}}</li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no categories.</strong>
            {% endif %}
        </div>

        <div>
            <a href="/rango/about/">About rango</a> <br/>
            <div>
                This image is a static file. <br />
                <img src="{% static 'images/spongebob.jpg' %}" alt="Picture of Spongebob"/>
            </div>
            <div>
                This image is a media file. <br />
                <img src="{{MEDIA_URL}}patrick.jpg" alt="Picture of Patrick" />
            </div>
        </div>
    </body>

</html>